.bg-container {
    background-image: radial-gradient(rgb(244, 198, 255), rgb(255, 255, 182), rgb(190, 240, 255));
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-image: radial-gradient(rgb(244, 198, 255), rgb(255, 255, 182), rgb(190, 240, 255));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    box-shadow: 4px 4px;
}

.heading {
    color: rgb(251, 52, 52);
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto';
}

.paragraph {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.counts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.img {
    height: 300px;
    width: 300px;
    border-radius: 130px;
}

.btn-style {
    background-image: radial-gradient(rgb(154, 228, 255), rgb(173, 237, 255), rgb(190, 240, 255));
    color: black;
    font-weight: bold;
    border-width: 1px;
    border-radius: 8px;
    padding: 19px;
    margin: 10px;
}

.counts-paragraph {
    font-weight: bold;
    font-size: 15px;
}